  <h1>Inspirational quotes</h1>
  <div id="body">
  <div class="container">
  <div class="row">
    <div class="col">

      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">~ Chinese proverb</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">"Behind every able man, there are always other able men."</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">~ Dr. Seuss </div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">“Don't cry because it's over, smile because it happened.”</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">~ Hudson Taylor</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">"There are three stages in the work of God: impossible, difficult,done."</p>
        </div>
      </div>
    </div>
  </div>

  </div>

</div>
<app-quote> </app-quote>