<hr>
<div class="quote">
<div class="container">
  <div class="jumbotron">

  <p>Hi there, time to Vote, Choose a qoute that best please you</p>

  <ul>

    <div *ngFor='let quote of quotes; let i = index'>
      <li id="{{i}}" appStrikethrough>{{quote.name}}</li>

      <button (click)='toogleDetails(i)'>Inspirational quotes</button>

      <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (deleteQuote)='removeThis($event,i)'></app-quote-details>
    </div>
  </ul>
</div>

  <p *ngIf='quotes.length > 2'> Retain two quotes </p>
</div>

<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote ($event)"></app-quote-form>
  </div>
</div>

